/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
/* Bold */
@font-face {
    font-family: "Sukar Bold";
    src: url('../fonts/Sukar-Bold.eot');
    src: url('../fonts/Sukar-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sukar-Bold.svg#Sukar-Bold') format('svg'),
    url('../fonts/Sukar-Bold.woff') format('woff'),
    url('../fonts/Sukar-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
